<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>The way to the lonely planet</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon/favicon-16x16.png">
</head>
<body>
    <div class="spinPlatform">
        <div class="platform">
            <div class="rocket">
                ${require('./../assets/icons/Rocket.svg')}
                <img src="./../assets/img/Explosion/00.png" class="explsLayer">
                <img src="./../assets/img/Explosion/01.png" class="explsLayer">
                <img src="./../assets/img/Explosion/02.png" class="explsLayer">
                <img src="./../assets/img/Explosion/03.png" class="explsLayer">
                <img src="./../assets/img/Explosion/04.png" class="explsLayer">
                <img src="./../assets/img/Explosion/05.png" class="explsLayer">
                <img src="./../assets/img/Explosion/06.png" class="explsLayer">
                <img src="./../assets/img/Explosion/07.png" class="explsLayer">
            </div>
        </div>
    </div>
</body>
</html>
