#flame1{
  animation: linear flame1 calc(var(--multiplier) + 1s) infinite;
}
@keyframes flame1 {
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
#flame2{
  animation: linear flame2 calc(var(--multiplier) + 1.4s) infinite;
}
@keyframes flame2 {
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
#flame3{
  animation: linear flame3 calc(var(--multiplier) + 1s) infinite;
}
@keyframes flame3 {
  0% {
    transform: translateY(2px);
  }
  50%{
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(2px);
  }
}
#flame4{
  animation: linear flame4 calc(var(--multiplier) + .8s) infinite;
}
@keyframes flame4 {
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
#flame5{
  animation: linear flame5 calc(var(--multiplier) + 1.5s) infinite;
}
@keyframes flame5 {
  0% {
    transform: translateY(-2px);
  }
  50%{
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(-2px);
  }
}
#flame6{
  animation: linear flame6 calc(var(--multiplier) + 1s) infinite;
}
@keyframes flame6 {
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}