/* LIBRARIES */
@import url("~normalize.css");

/* FOUNDATION */
@import "base/colors";
@import "base/responsivness";
@import "base/variables";
@import "base/general";

body{
  background-image: url('./../assets/img/space.png');
  background-size: 150% 150%;
  background-position-x: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  &.explosion:after{
    content: '';
    background-color: white;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    animation: ease-in-out explosion .68s;
  }
}

.platform{
  height: 150vh;
  width: 150vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(var(--angle));
  transition: transform 1s ease-in-out;
  position: relative;
  background-image: url('./../assets/img/stars.png');
  background-size: 40%;
  background-position-x: center;
  animation:  linear moveStarsX 10s infinite;

  &:after{
    //explosion screen blinking
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 150vh;
    width: 150vw;
    z-index: -1;
    background-image: url('./../assets/img/stars.png');
    background-size: 10%;
    background-position-x: center;
    animation: linear moveStarsY 300s infinite;
  }

  .rocket {
    //improves rotate animations. moves spin center to the top
    transform: translateY(var(--boost)) ;
    transition: transform var(--boost-animation) linear;
    position: relative;
    svg, .explsLayer{
      height: 40vh;
      width: auto;
      transition: opacity .5s linear;
    }
    .explsLayer{
      display: none;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: opacity linear .3s;
      &:nth-of-type(8){
        transition: opacity linear 1s;
      }
    }
  }
}

//animations
@import "flames";

@keyframes explosion {
  0%  { background: linear-gradient(to right, #ffc500, #c21500); }
  20% { background: linear-gradient(to right, #FFB88C, #DE6262); }
  40% { background: linear-gradient(to right, #cbad6d, #d53369); }
  60% { background: linear-gradient(to right, #ff5858, #f857a6); }
  70% { background: linear-gradient(to right, #182848, #4b6cb7); }
  80% { background: linear-gradient(to right, #0ABFBC, #FC354C); }
  90% { background: linear-gradient(to right, #727a17, #414d0b); }
  100%{ background: linear-gradient(to right, #e65245, #e43a15); }
}
@keyframes moveStarsY {
  from {
    background-position-y: 0;
  }

  to {
    background-position-y: 30000px, 0;
  }
}
@keyframes moveStarsX {
  0% {
    background-position-x: 0;
  }

  50% {
    background-position-x: 4%, 0;
  }

  100% {
    background-position-x: 0, 0;
  }
}