*{
  box-sizing: border-box;
  font-family: Helvetica, Arial;
}
body{
  font-size: 18px;

  &.preload * {
    // IE fix - disable transition on preloading
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }
}